.marker-content h1 {
    font-size: 22px !important;
    line-height: 22px !important;
    font-weight: 700;
    padding: 0px !important;
    margin-bottom: 5px !important;
}

.marker-content div {
  padding: 1em 0;
}

.marker-content div a {
  color: white;
}

.marker-content div a:hover {
  color: white;
}

.hidden-row {
    display: none;
}

.cfdinfo {
    padding: 1.0em 0;
}
.cfdinfo svg {
    float: left;
    margin: 0 0.5em 0.5em 0;
}
